services:
  - docker:dind

stages:
  - test
  - build
  - publish

variables:
  SBT_OPTS: "-Dsbt.global.base=sbt-cache/.sbtboot -Dsbt.boot.directory=sbt-cache/.boot -Dsbt.ivy.home=sbt-cache/.ivy"

cache:
  key: "${CI_COMMIT_REF_SLUG}"
  untracked: false
  paths:
    - "sbt-cache/.ivy/cache"
    - "sbt-cache/.boot"
    - "sbt-cache/.sbtboot"
    - "sbt-cache/target"

before_script:
  - apt-get update -yqq
  - apt-get install -yqq apt-transport-https ca-certificates
  - echo "deb https://dl.bintray.com/sbt/debian /" | tee -a /etc/apt/sources.list.d/sbt.list
  - apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 2EE0EA64E40A89B84B2DF73499E82A75642AC823
  - apt-get update -yqq
  - apt-get install -yqq sbt
  - sbt sbtVersion


test:
  stage: test
  image: openjdk:11
  script:
    - sbt clean coverage test coverageReport
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
    paths:
      - target/scala-2.12/scoverage-report/
  except:
    variables:
      - $CI_COMMIT_MESSAGE =~ /^Setting version to.*/

assemble:
  stage: build
  image: openjdk:11
  script:
    - sbt assembly
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
    paths:
      - target/scala-2.12/consumer.jar
  except:
    refs:
      - master
    variables:
      - $CI_COMMIT_MESSAGE =~ /^Setting version to.*/

publish:
  stage: publish
  image: docker:latest
  dependencies:
    - assemble
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - >
      docker build --pull
      --build-arg NEXUS_PASSWORD=$NEXUS_PASSWORD
      --build-arg VERSION_HASH=$CI_COMMIT_SHORT_SHA
      -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"
      .
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"
  except:
    refs:
      - master
    variables:
      - $CI_COMMIT_MESSAGE =~ /^Setting version to.*/

release:
  stage: build
  image: openjdk:11
  before_script:
    - apt-get update -yqq
    - apt-get install -yqq apt-transport-https ca-certificates
    - echo "deb https://dl.bintray.com/sbt/debian /" | tee -a /etc/apt/sources.list.d/sbt.list
    - apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 2EE0EA64E40A89B84B2DF73499E82A75642AC823
    - apt-get update -yqq
    - apt-get install -yqq sbt
    - sbt sbtVersion
    - 'which ssh-agent || ( apt-get install -qq openssh-client )'
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SSH_PRIVATE_KEY")
    - mkdir -p ~/.ssh
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
    - git remote set-url origin git@gitlab.mdcatapult.io:$CI_PROJECT_PATH.git
    - git config --global user.email "${GIT_RELEASE_EMAIL}"
    - git config --global user.name "${GIT_RELEASE_USER}"
  script:
    - git checkout master
    - git pull origin master
    - sbt "release with-defaults"
    - export RELEASE_TAG=$(git describe --abbrev=0)
    - >
      curl --header 'Content-Type: application/json'
      --header "PRIVATE-TOKEN: $GIT_RELEASE_TOKEN"
      --data "{ \"name\": \"$RELEASE_TAG\", \"tag_name\": \"$RELEASE_TAG\", \"description\": \"Automated CI Release of $RELEASE_TAG\" }"
      --request POST https://gitlab.mdcatapult.io/api/v4/projects/$CI_PROJECT_ID/releases
    - git checkout develop
    - git pull
    - git rebase master
    - git push origin develop
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
    paths:
      - target/scala-2.12/consumer.jar
  only:
    - master
  except:
    variables:
      - $CI_COMMIT_MESSAGE =~ /^Setting version to.*/

publish-master:
  stage: publish
  image: docker:latest
  dependencies:
    - release
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - apk add --no-cache bash git openssh-client
    - git fetch
    - export RELEASE_TAG=$(git describe --abbrev=0)
  script:
    - >
      docker build --pull
      --build-arg NEXUS_PASSWORD=$NEXUS_PASSWORD
      --build-arg VERSION_HASH=$CI_COMMIT_SHORT_SHA
      -t "$CI_REGISTRY_IMAGE"
      -t "$CI_REGISTRY_IMAGE:$RELEASE_TAG"
      .
    - docker push "$CI_REGISTRY_IMAGE"
  only:
    - master
  except:
    variables:
      - $CI_COMMIT_MESSAGE =~ /^Setting version to.*/
