<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <timestamp key="myTimestamp" timeReference="contextBirth" datePattern="yyyy-MM-dd'_'HH-mm-ss.SSS"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level[%thread] %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.mdcatapult.doclib" level="${log-level:-ERROR}" >
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.mongodb.driver" level="${log-level:-ERROR}" />
    <logger name="play.api.libs.ws" level="${log-level:-ERROR}" />
    <logger name="com.spingo.op_rabbit" level="${log-level:-ERROR}" >
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="${log-level:-ERROR}">
        <appender-ref ref="CONSOLE"/>
        <!--        <appender-ref ref="FILE"/>-->
    </root>

</configuration>